@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Harry Potter";
    src: url("../fonts/HARRYP__.TTF") format("truetype");
}

* {
    font-family: "Harry Potter";
    
    overflow-x: hidden;
    
}
