@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Harry Potter";
    src: url("../fonts/HARRYP__.TTF") format("truetype");
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(120deg, #0E0D16 30%, #758599 90%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    font-family: "Harry Potter";
    letter-spacing: 0.15rem;
}
